In [5]:
import pandas as pd

In [6]:
%matplotlib notebook

Importing the CSV file into a dataframe and resetting the indices.

In [7]:
inc_div_full = pd.read_csv('https://raw.githubusercontent.com/leoRysing/DS-3000-final-project/main/composite/diversity_and_tuition_sorted.csv', index_col = 0)
inc_div_full.reset_index(drop=True, inplace=True)
inc_div_full

,name,total_enrollment,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment,total_price,year,campus,...,net_cost_over_110,state,state_code,type,degree_length,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
0,Aaniiih Nakoda College,291.0,0.0,33.0,0.0,256.0,2.0,17030,2017,Off Campus,...,0.000000,Montana,MT,Public,2 Year,0.0,2380,2380,2380,2380
1,Aaniiih Nakoda College,291.0,0.0,33.0,0.0,256.0,2.0,17030,2018,Off Campus,...,0.000000,Montana,MT,Public,2 Year,0.0,2380,2380,2380,2380
2,Abilene Christian University,4427.0,46.0,2959.0,387.0,18.0,582.0,48300,2017,On Campus,...,31205.917790,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
3,Abilene Christian University,4427.0,46.0,2959.0,387.0,18.0,582.0,45980,2016,On Campus,...,29707.000000,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
4,Abilene Christian University,4427.0,46.0,2959.0,387.0,18.0,582.0,48300,2017,Off Campus,...,31205.917790,Texas,TX,Private,4 Year,10350.0,34850,45200,34850,45200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,Yuba College,6640.0,744.0,2846.0,262.0,79.0,2032.0,20510,2017,Off Campus,...,3209.760020,California,CA,Public,2 Year,0.0,1400,1400,8420,8420
9131,Yuba College,6640.0,744.0,2846.0,262.0,79.0,2032.0,21068,2018,Off Campus,...,3297.085525,California,CA,Public,2 Year,0.0,1400,1400,8420,8420
9132,Zane State College,4009.0,10.0,3170.0,110.0,16.0,14.0,14764,2018,Off Campus,...,10735.133290,Ohio,OH,Public,2 Year,0.0,5070,5070,9930,9930
9133,Zane State College,4009.0,10.0,3170.0,110.0,16.0,14.0,14254,2017,Off Campus,...,10364.304390,Ohio,OH,Public,2 Year,0.0,5070,5070,9930,9930
9134,Zane State College,4009.0,10.0,3170.0,110.0,16.0,14.0,16190,2016,Off Campus,...,11772.000000,Ohio,OH,Public,2 Year,0.0,5070,5070,9930,9930

Dropping unnecessary columns and moving what will become our target variables to the end of the dataframe.

In [8]:
inc_div = inc_div_full.drop(['name', 'state'], axis=1)
inc_div_enrollment = inc_div.iloc[0:,1:6]
inc_div.drop(['asian_enrollment', 'white_enrollment', 'black_enrollment', 
              'american_indian_alaska_native_enrollment', 'hispanic_enrollment'], axis=1, inplace=True)
inc_div = pd.concat([inc_div, inc_div_enrollment], axis=1)
inc_div

,total_enrollment,total_price,year,campus,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment
0,291.0,17030,2017,Off Campus,8541.000000,7371.000000,0.000000,10492.000000,0.000000,MT,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
1,291.0,17030,2018,Off Campus,8541.000000,7371.000000,0.000000,10492.000000,0.000000,MT,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
2,4427.0,48300,2017,On Campus,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,TX,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
3,4427.0,45980,2016,On Campus,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,TX,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
4,4427.0,48300,2017,Off Campus,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,TX,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,6640.0,20510,2017,Off Campus,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,CA,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9131,6640.0,21068,2018,Off Campus,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,CA,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9132,4009.0,14764,2018,Off Campus,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,OH,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9133,4009.0,14254,2017,Off Campus,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,OH,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9134,4009.0,16190,2016,Off Campus,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,OH,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0

Changing state abbreviations to numerical values 0-49.

In [9]:
state_numbers = {}
num = 0

for state in inc_div.state_code:
    if state not in state_numbers.keys():
        state_numbers[state] = num
        num = num + 1    
        
inc_div_codedstate = inc_div.replace({"state_code": state_numbers})  
inc_div_codedstate

,total_enrollment,total_price,year,campus,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment
0,291.0,17030,2017,Off Campus,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
1,291.0,17030,2018,Off Campus,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
2,4427.0,48300,2017,On Campus,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
3,4427.0,45980,2016,On Campus,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
4,4427.0,48300,2017,Off Campus,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,6640.0,20510,2017,Off Campus,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9131,6640.0,21068,2018,Off Campus,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9132,4009.0,14764,2018,Off Campus,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9133,4009.0,14254,2017,Off Campus,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9134,4009.0,16190,2016,Off Campus,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0

One-hot encoding the type column of the dataframe. This will create three new columns: public, private, and for-profit. Each school will have a 1 in one of the columns to represent which category it falls into, and will have a value of 0 for the other two columns. This gives us a way to represent this binary data (yes/no for each type of school) in a numerical way.

In [10]:
from sklearn.preprocessing import OneHotEncoder

pubpriv = inc_div_codedstate.iloc[:, 10:11]

encoder = OneHotEncoder(sparse=False)
encoded_df = encoder.fit_transform(pubpriv)

pubpriv_df = pd.DataFrame(encoded_df, columns=encoder.get_feature_names())
pubpriv_df

      x0_For Profit  x0_Private  x0_Public
0               0.0         0.0        1.0
1               0.0         0.0        1.0
2               0.0         1.0        0.0
3               0.0         1.0        0.0
4               0.0         1.0        0.0
...             ...         ...        ...
9130            0.0         0.0        1.0
9131            0.0         0.0        1.0
9132            0.0         0.0        1.0
9133            0.0         0.0        1.0
9134            0.0         0.0        1.0

[9135 rows x 3 columns]

One-hot encoding the campus column of the dataframe. This will create two new columns: off-campus (no housing) and on-campus (has housing). Each school will have a 1 in one of the columns to represent which category it falls into, and will have a value of 0 for the other column. This gives us a way to represent this binary data (yes/no for on/off campus) in a numerical way.

In [11]:
campus = inc_div_codedstate.iloc[:, 3:4]

encoder = OneHotEncoder(sparse=False)
encoded_df = encoder.fit_transform(campus)

campus_df = pd.DataFrame(encoded_df, columns=encoder.get_feature_names())
campus_df

      x0_Off Campus  x0_On Campus
0               1.0           0.0
1               1.0           0.0
2               0.0           1.0
3               0.0           1.0
4               1.0           0.0
...             ...           ...
9130            1.0           0.0
9131            1.0           0.0
9132            1.0           0.0
9133            1.0           0.0
9134            1.0           0.0

[9135 rows x 2 columns]

One-hot encoding the degree length column of the dataframe. This will create two new columns: 2-year (associate's degree is highest degree offered) and 4-year (bachelor's degree is offered). Each school will have a 1 in one of the columns to represent which category it falls into, and will have a value of 0 for the other column. This gives us a way to represent this binary data (yes/no for highest degree offered) in a numerical way.

In [12]:
deglen = inc_div_codedstate.iloc[:, 11:12]

encoder = OneHotEncoder(sparse=False)
encoded_df = encoder.fit_transform(deglen)

deglen_df = pd.DataFrame(encoded_df, columns=encoder.get_feature_names())
deglen_df

      x0_2 Year  x0_4 Year
0           1.0        0.0
1           1.0        0.0
2           0.0        1.0
3           0.0        1.0
4           0.0        1.0
...         ...        ...
9130        1.0        0.0
9131        1.0        0.0
9132        1.0        0.0
9133        1.0        0.0
9134        1.0        0.0

[9135 rows x 2 columns]

Merging the original dataframe and the newly-encoded dataframes into one dataframe.

In [13]:
inc_div_precoded = pd.concat([inc_div_codedstate.iloc[:,0:3], pubpriv_df, 
                             inc_div_codedstate.iloc[:,4:10], campus_df, deglen_df,
                             inc_div_codedstate.iloc[:,12:22]], axis=1)

inc_div_precoded.rename(columns={'x0_For Profit':'for_profit', 'x0_Private':'private', 
                              'x0_Public':'public', 'x0_Off Campus':'off_campus', 
                              'x0_On Campus':'on_campus', 'x0_2 Year':'two_year', 
                              'x0_4 Year':'four_year'}, inplace = True)

inc_div_precoded.to_csv("inc_div_coded.csv")

inc_div_precoded

,total_enrollment,total_price,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,...,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment
0,291.0,17030,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
1,291.0,17030,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,...,0.0,2380,2380,2380,2380,0.0,33.0,0.0,256.0,2.0
2,4427.0,48300,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
3,4427.0,45980,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
4,4427.0,48300,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,...,10350.0,34850,45200,34850,45200,46.0,2959.0,387.0,18.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,6640.0,20510,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9131,6640.0,21068,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,...,0.0,1400,1400,8420,8420,744.0,2846.0,262.0,79.0,2032.0
9132,4009.0,14764,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9133,4009.0,14254,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0
9134,4009.0,16190,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,...,0.0,5070,5070,9930,9930,10.0,3170.0,110.0,16.0,14.0

In [14]:
total_price = inc_div_precoded.total_price
total_enrollment = inc_div_precoded.total_enrollment
inc_div_precoded_dropped = inc_div_precoded.drop(['total_enrollment', 'total_price'], axis=1)
inc_div_coded = pd.concat([inc_div_precoded.iloc[:,2:21], total_price, total_enrollment, inc_div_precoded.iloc[:,21:26]], axis=1)
inc_div_coded

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,2380,2380,2380,17030,291.0,0.0,33.0,0.0,256.0,2.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,2380,2380,2380,17030,291.0,0.0,33.0,0.0,256.0,2.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,45200,34850,45200,48300,4427.0,46.0,2959.0,387.0,18.0,582.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,45200,34850,45200,45980,4427.0,46.0,2959.0,387.0,18.0,582.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,45200,34850,45200,48300,4427.0,46.0,2959.0,387.0,18.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1400,8420,8420,20510,6640.0,744.0,2846.0,262.0,79.0,2032.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1400,8420,8420,21068,6640.0,744.0,2846.0,262.0,79.0,2032.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,5070,9930,9930,14764,4009.0,10.0,3170.0,110.0,16.0,14.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,5070,9930,9930,14254,4009.0,10.0,3170.0,110.0,16.0,14.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,5070,9930,9930,16190,4009.0,10.0,3170.0,110.0,16.0,14.0

In [15]:
from sklearn.preprocessing import StandardScaler

net_cost = inc_div_coded.iloc[:,4:9]
scaler = StandardScaler()
scaler.fit(net_cost)
scaled_net_cost = scaler.transform(net_cost)
snc_df = pd.DataFrame(scaled_net_cost)
snc_df.rename(columns={0:'net_cost_0_to_30', 1:'net_cost_30_to_48', 
                              2:'net_cost_48_to_75', 3:'net_cost_75_to_110', 
                              4:'net_cost_over_110'}, inplace = True)
snc_df

,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110
0,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428
1,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428
2,1.183339,1.285896,1.111418,0.977481,0.842820
3,1.039239,1.135485,0.958457,0.829002,0.718642
4,1.183339,1.285896,1.111418,0.977481,0.842820
...,...,...,...,...,...
9130,-1.177888,-1.224394,-1.140371,-2.113704,-1.476516
9131,-1.160509,-1.207496,-1.114995,-2.113704,-1.469281
9132,-1.032803,-1.020190,-0.887653,-1.054946,-0.853078
9133,-1.059880,-1.048699,-0.928602,-1.091520,-0.883799
9134,-0.957092,-0.940476,-0.773157,-0.952685,-0.767179

In [16]:
cost = inc_div_coded.iloc[:, 14:20]
cost
scaler = StandardScaler()
scaler.fit(cost)
scaled_cost = scaler.transform(cost)
sc_df = pd.DataFrame(scaled_cost)
sc_df.rename(columns={0:'room_and_board', 1:'in_state_tuition', 
                              2:'in_state_total', 3:'out_of_state_tuition', 
                              4:'out_of_state_total', 5:'total_price'}, inplace = True)
sc_df

,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price
0,-1.625550,-1.088963,-1.286139,-1.491718,-1.607814,-0.987779
1,-1.625550,-1.088963,-1.286139,-1.491718,-1.607814,-0.987779
2,0.458436,0.958661,0.887088,0.843117,0.781185,0.905391
3,0.458436,0.958661,0.887088,0.843117,0.781185,0.764932
4,0.458436,0.958661,0.887088,0.843117,0.781185,0.905391
...,...,...,...,...,...,...
9130,-1.625550,-1.150764,-1.335876,-1.057397,-1.270832,-0.777090
9131,-1.625550,-1.150764,-1.335876,-1.057397,-1.270832,-0.743308
9132,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.124969
9133,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.155846
9134,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.038635

In [17]:
inc_div_scaled = pd.concat([inc_div_coded.iloc[:,0:4], snc_df, inc_div_coded.iloc[:,9:14], sc_df, 
                            inc_div_coded.iloc[:,20:26]], axis=1)
inc_div_scaled

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,asian_enrollment,white_enrollment,black_enrollment,american_indian_alaska_native_enrollment,hispanic_enrollment
0,2017,0.0,0.0,1.0,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428,0,...,-1.286139,-1.491718,-1.607814,-0.987779,291.0,0.0,33.0,0.0,256.0,2.0
1,2018,0.0,0.0,1.0,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428,0,...,-1.286139,-1.491718,-1.607814,-0.987779,291.0,0.0,33.0,0.0,256.0,2.0
2,2017,0.0,1.0,0.0,1.183339,1.285896,1.111418,0.977481,0.842820,1,...,0.887088,0.843117,0.781185,0.905391,4427.0,46.0,2959.0,387.0,18.0,582.0
3,2016,0.0,1.0,0.0,1.039239,1.135485,0.958457,0.829002,0.718642,1,...,0.887088,0.843117,0.781185,0.764932,4427.0,46.0,2959.0,387.0,18.0,582.0
4,2017,0.0,1.0,0.0,1.183339,1.285896,1.111418,0.977481,0.842820,1,...,0.887088,0.843117,0.781185,0.905391,4427.0,46.0,2959.0,387.0,18.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,-1.177888,-1.224394,-1.140371,-2.113704,-1.476516,4,...,-1.335876,-1.057397,-1.270832,-0.777090,6640.0,744.0,2846.0,262.0,79.0,2032.0
9131,2018,0.0,0.0,1.0,-1.160509,-1.207496,-1.114995,-2.113704,-1.469281,4,...,-1.335876,-1.057397,-1.270832,-0.743308,6640.0,744.0,2846.0,262.0,79.0,2032.0
9132,2018,0.0,0.0,1.0,-1.032803,-1.020190,-0.887653,-1.054946,-0.853078,17,...,-1.149614,-0.948817,-1.186587,-1.124969,4009.0,10.0,3170.0,110.0,16.0,14.0
9133,2017,0.0,0.0,1.0,-1.059880,-1.048699,-0.928602,-1.091520,-0.883799,17,...,-1.149614,-0.948817,-1.186587,-1.155846,4009.0,10.0,3170.0,110.0,16.0,14.0
9134,2016,0.0,0.0,1.0,-0.957092,-0.940476,-0.773157,-0.952685,-0.767179,17,...,-1.149614,-0.948817,-1.186587,-1.038635,4009.0,10.0,3170.0,110.0,16.0,14.0

Setting up the dataframe for target variable #1.

In [18]:
inc_div_target1 = inc_div_coded.drop(['white_enrollment', 'black_enrollment', 'american_indian_alaska_native_enrollment', 
                                'hispanic_enrollment'], axis=1)
inc_div_target1.rename(columns={'asian_enrollment':'target1'}, inplace = True)
inc_div_target1

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target1
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,0.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,0.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,46.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,46.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,744.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,744.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,10.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,10.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,10.0

In [19]:
features1 = inc_div_target1.drop(['target1'], axis=1)
target1 = inc_div_target1.target1
target1.describe()

count     9135.000000
mean       290.818719
std        779.314179
min          0.000000
25%         15.000000
50%         54.000000
75%        200.000000
max      10381.000000
Name: target1, dtype: float64

In [20]:
inc_div_scaled_target1 = inc_div_scaled.drop(['white_enrollment', 'black_enrollment', 'american_indian_alaska_native_enrollment', 
                                'hispanic_enrollment'], axis=1)
inc_div_scaled_target1.rename(columns={'asian_enrollment':'target1'}, inplace = True)
inc_div_scaled_target1

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target1
0,2017,0.0,0.0,1.0,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428,0,...,1.0,0.0,-1.625550,-1.088963,-1.286139,-1.491718,-1.607814,-0.987779,291.0,0.0
1,2018,0.0,0.0,1.0,-0.711497,-0.916142,-2.073085,-0.967218,-1.742428,0,...,1.0,0.0,-1.625550,-1.088963,-1.286139,-1.491718,-1.607814,-0.987779,291.0,0.0
2,2017,0.0,1.0,0.0,1.183339,1.285896,1.111418,0.977481,0.842820,1,...,0.0,1.0,0.458436,0.958661,0.887088,0.843117,0.781185,0.905391,4427.0,46.0
3,2016,0.0,1.0,0.0,1.039239,1.135485,0.958457,0.829002,0.718642,1,...,0.0,1.0,0.458436,0.958661,0.887088,0.843117,0.781185,0.764932,4427.0,46.0
4,2017,0.0,1.0,0.0,1.183339,1.285896,1.111418,0.977481,0.842820,1,...,0.0,1.0,0.458436,0.958661,0.887088,0.843117,0.781185,0.905391,4427.0,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,-1.177888,-1.224394,-1.140371,-2.113704,-1.476516,4,...,1.0,0.0,-1.625550,-1.150764,-1.335876,-1.057397,-1.270832,-0.777090,6640.0,744.0
9131,2018,0.0,0.0,1.0,-1.160509,-1.207496,-1.114995,-2.113704,-1.469281,4,...,1.0,0.0,-1.625550,-1.150764,-1.335876,-1.057397,-1.270832,-0.743308,6640.0,744.0
9132,2018,0.0,0.0,1.0,-1.032803,-1.020190,-0.887653,-1.054946,-0.853078,17,...,1.0,0.0,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.124969,4009.0,10.0
9133,2017,0.0,0.0,1.0,-1.059880,-1.048699,-0.928602,-1.091520,-0.883799,17,...,1.0,0.0,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.155846,4009.0,10.0
9134,2016,0.0,0.0,1.0,-0.957092,-0.940476,-0.773157,-0.952685,-0.767179,17,...,1.0,0.0,-1.625550,-0.919326,-1.149614,-0.948817,-1.186587,-1.038635,4009.0,10.0

Setting up the dataframe for target variable #2.

In [21]:
inc_div_target2 = inc_div_coded.drop(['asian_enrollment', 'black_enrollment', 'american_indian_alaska_native_enrollment', 
                                'hispanic_enrollment'], axis=1)
inc_div_target2.rename(columns={'white_enrollment':'target2'}, inplace = True)
inc_div_target2

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target2
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,33.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,33.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,2959.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,2959.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,2959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,2846.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,2846.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,3170.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,3170.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,3170.0

In [22]:
features2 = inc_div_target2.drop(['target2'], axis=1)
target2 = inc_div_target2.target2
target2.describe()

count     9135.000000
mean      3399.711330
std       4369.043621
min          0.000000
25%        813.000000
50%       1854.000000
75%       4145.000000
max      41898.000000
Name: target2, dtype: float64

In [23]:
inc_div_scaled_target2 = inc_div_scaled.drop(['asian_enrollment', 'black_enrollment', 'american_indian_alaska_native_enrollment', 
                                'hispanic_enrollment'], axis=1)
inc_div_target2.rename(columns={'white_enrollment':'target2'}, inplace = True)
inc_div_target2

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target2
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,33.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,33.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,2959.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,2959.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,2959.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,2846.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,2846.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,3170.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,3170.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,3170.0

Setting up the dataframe for target variable #3.

In [24]:
inc_div_target3 = inc_div_coded.drop(['white_enrollment', 'asian_enrollment', 'american_indian_alaska_native_enrollment', 
                                'hispanic_enrollment'], axis=1)
inc_div_target3.rename(columns={'black_enrollment':'target3'}, inplace = True)
inc_div_target3

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target3
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,0.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,0.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,387.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,387.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,387.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,262.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,262.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,110.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,110.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,110.0

In [25]:
features3 = inc_div_target3.drop(['target3'], axis=1)
target3 = inc_div_target3.target3
target3.describe()

count     9135.000000
mean       742.179967
std       1391.991834
min          0.000000
25%         81.000000
50%        234.000000
75%        778.000000
max      18914.000000
Name: target3, dtype: float64

Setting up the dataframe for target variable #4.

In [26]:
inc_div_target4 = inc_div_coded.drop(['black_enrollment', 'asian_enrollment', 'white_enrollment', 'hispanic_enrollment'], 
                               axis=1)
inc_div_target4.rename(columns={'american_indian_alaska_native_enrollment':'target4'}, inplace = True)
inc_div_target4

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target4
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,256.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,256.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,18.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,18.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,79.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,79.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,16.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,16.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,16.0

In [27]:
features4 = inc_div_target4.drop(['target4'], axis=1)
target4 = inc_div_target4.target4
target4.describe()

count    9135.000000
mean       43.069732
std       128.621617
min         0.000000
25%         5.000000
50%        13.000000
75%        36.000000
max      2659.000000
Name: target4, dtype: float64

Setting up the dataframe for target variable #5.

In [28]:
inc_div_target5 = inc_div_coded.drop(['black_enrollment', 'asian_enrollment', 'white_enrollment', 
                                'american_indian_alaska_native_enrollment'], 
                               axis=1)
inc_div_target5.rename(columns={'hispanic_enrollment':'target5'}, inplace = True)
inc_div_target5

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,...,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total,total_price,total_enrollment,target5
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,2.0
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,...,1.0,0.0,0.0,2380,2380,2380,2380,17030,291.0,2.0
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,582.0
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,45980,4427.0,582.0
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,...,0.0,1.0,10350.0,34850,45200,34850,45200,48300,4427.0,582.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,...,1.0,0.0,0.0,1400,1400,8420,8420,20510,6640.0,2032.0
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,...,1.0,0.0,0.0,1400,1400,8420,8420,21068,6640.0,2032.0
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14764,4009.0,14.0
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,...,1.0,0.0,0.0,5070,5070,9930,9930,14254,4009.0,14.0
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,...,1.0,0.0,0.0,5070,5070,9930,9930,16190,4009.0,14.0

In [29]:
features5 = inc_div_target5.drop(['target5'], axis=1)
target5 = inc_div_target5.target5
target5.describe()

count     9135.000000
mean       775.983908
std       2100.721550
min          0.000000
25%         52.000000
50%        173.000000
75%        594.000000
max      44870.000000
Name: target5, dtype: float64

In [30]:
inc_div_features = inc_div_coded.loc[:,"year":"out_of_state_total"]
inc_div_features

,year,for_profit,private,public,net_cost_0_to_30,net_cost_30_to_48,net_cost_48_to_75,net_cost_75_to_110,net_cost_over_110,state_code,off_campus,on_campus,two_year,four_year,room_and_board,in_state_tuition,in_state_total,out_of_state_tuition,out_of_state_total
0,2017,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,1.0,0.0,1.0,0.0,0.0,2380,2380,2380,2380
1,2018,0.0,0.0,1.0,8541.000000,7371.000000,0.000000,10492.000000,0.000000,0,1.0,0.0,1.0,0.0,0.0,2380,2380,2380,2380
2,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,0.0,1.0,0.0,1.0,10350.0,34850,45200,34850,45200
3,2016,0.0,1.0,0.0,22071.000000,23643.000000,24895.000000,26930.000000,29707.000000,1,0.0,1.0,0.0,1.0,10350.0,34850,45200,34850,45200
4,2017,0.0,1.0,0.0,23184.630270,24835.948240,26151.120050,28288.799480,31205.917790,1,1.0,0.0,0.0,1.0,10350.0,34850,45200,34850,45200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,2017,0.0,0.0,1.0,4936.642328,4926.170028,7659.440388,0.000000,3209.760020,4,1.0,0.0,1.0,0.0,0.0,1400,1400,8420,8420
9131,2018,0.0,0.0,1.0,5070.949809,5060.192596,7867.824968,0.000000,3297.085525,4,1.0,0.0,1.0,0.0,0.0,1400,1400,8420,8420
9132,2018,0.0,0.0,1.0,6057.890797,6545.768499,9734.756022,9689.159975,10735.133290,17,1.0,0.0,1.0,0.0,0.0,5070,5070,9930,9930
9133,2017,0.0,0.0,1.0,5848.630142,6319.654849,9398.483632,9354.462631,10364.304390,17,1.0,0.0,1.0,0.0,0.0,5070,5070,9930,9930
9134,2016,0.0,0.0,1.0,6643.000000,7178.000000,10675.000000,10625.000000,11772.000000,17,1.0,0.0,1.0,0.0,0.0,5070,5070,9930,9930

In [31]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score
sns.set_style('whitegrid')

columns = {"for_profit", "private", "public"}
for column in columns:
    plt.figure(figsize=(8, 4.5))
    sns.histplot(data=inc_div_features[inc_div_features[column] == 1.0], x="total_price").set_title(
    column + " tuitions")
    plt.savefig("total-price-"+column+".png")

ValueError: Could not interpret value `total_price` for parameter `x`

In [ ]:
#histograms for school size
columns = {"for_profit", "private", "public"}
for column in columns:
    plt.figure(figsize=(8, 4.5))
    sns.histplot(data=inc_div_features[inc_div_features[column] == 1.0], x="total_enrollment").set_title(
    column + " tuitions")
    plt.savefig("corr"+column+".png")

In [ ]:
# heatmap showing correlations between all variables

plt.figure(figsize=(11, 11))
sns.heatmap(inc_div_features.corr(), square=True, annot=False)
plt.subplots_adjust(bottom=0.28)
plt.savefig("all-corrs.png")
plt.show()

In [ ]:

columns_mon = {"net_cost_0_to_30", "net_cost_30_to_48", 
               "net_cost_48_to_75", "net_cost_75_to_110", "net_cost_over_110"}
for column in columns_mon:
    plt.figure(figsize=(8, 4.5))  # 8"-by-4.5" Figure
    sns.regplot(data=inc_div_features, x='total_enrollment', y=column).set_title("University size vs " + column)
    plt.savefig("corr"+column+".png")
    
#takeaway; it seems that despite some variation, especially in the smaller schools,
#there isn't much of a correlation

In [ ]:
columns_mon_2 = {"net_cost_0_to_30", "net_cost_30_to_48", "net_cost_48_to_75"}

for column in columns_mon_2:
    plt.figure(figsize=(8, 4.5))  # 8"-by-4.5" Figure
    sns.regplot(data=inc_div_features[inc_div_features["public"] == 1.0], x='total_enrollment', y=column).set_title(
        "University size (public school) vs " + column)
    plt.savefig("corr"+column+"total-enrollement(public).png")
#public schools show an upward trend for their tuition

In [ ]:
for column in columns_mon_2:
    plt.figure(figsize=(8, 4.5))  # 8"-by-4.5" Figure
    sns.regplot(data=inc_div_features[inc_div_features["private"] == 1.0], x='total_enrollment', y=column).set_title(
        "University size (private school) vs " + column)
    plt.savefig("corr"+column+"total-enrollement(private).png")
#private schools also show an upward trend for their tuition

In [ ]:
#tuitions for public schools
columns2 = {"net_cost_0_to_30", "net_cost_30_to_48", "net_cost_48_to_75"}
for column in columns2:
    plt.figure(figsize=(8, 4.5))
    sns.histplot(data=inc_div_features[inc_div_features["public"] == 1.0], x="total_price").set_title(
    column + " tuitions for public schools" )
    plt.savefig("tuition-cost-"+column+"-public.png")

In [ ]:
#tuitions for private schools
for column in columns2:
    plt.figure(figsize=(8, 4.5))
    sns.histplot(data=inc_div_features[inc_div_features["private"] == 1.0], x="total_price").set_title(
    column + " tuitions for private schools" )
    plt.savefig("tuition-cost-"+column+"-private.png")

In [ ]:
plt.figure(figsize=(10, 7))
sns.lineplot(data=inc_div_features, palette = "colorblind", x = "state_code", y="total_price", hue="year").set_title(
    "average tuition by state over the years")
plt.savefig("ave-cost-by-state.png")

Training the data and applying Lasso, kNN, and Ridge regression models:

In [65]:
#creating a dictionary of estimators
from sklearn.linear_model import Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Ridge


estimators = {"Lasso Regression" : Lasso(tol=0.1, alpha=0.001),
              "kNN" : KNeighborsRegressor(),
              "Ridge Regression" : Ridge(alpha = 100)}
              
inc_div_scaled_features = inc_div_scaled.iloc[:,0:20]

#creating a dictionary of ethnic groups
ethnic_group = {"Asian" : (inc_div_scaled_features, target1), 
                "Black" : (inc_div_scaled_features, target3), 
                "Hispanic" : (inc_div_scaled_features, target5), 
                "Native American/Alaskan" : (inc_div_scaled_features, target4), 
                "White" : (inc_div_scaled_features, target2)}

In [33]:
#split data into training and testing sets, will be used for each feature
from sklearn.model_selection import train_test_split

def split_train_test(features, target) :
    split = train_test_split(features, target, random_state = 3000)
    return split

In [56]:
#for each ethnic group, add to a dictionary with its own training and testing set that can be used for 
#intial application of regressors and after tuning

def target_ML_sets() :
    ethnic_ML_sets = {}
    for ethnicity, dataset in ethnic_group.items() :
        feature_set, target_set = dataset
        ethnic_ML_sets[ethnicity] = split_train_test(feature_set, target_set)
    return ethnic_ML_sets

ethnic_ML_sets = target_ML_sets()

In [74]:
#function applies regressors
#evaluates performance using r^2 values and mean-squared-error values 
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

def apply_algorithms() :
    for ethnicity, train_test_sets in ethnic_ML_sets.items() :
        print("\tLooking at ", ethnicity, " target group:", sep="")
        print("\t–––––––––––––––––––––––––––––––––––––––")
        X_train, X_test, y_train, y_test = train_test_sets
        for estimator, algorithm in estimators.items() :
            model = algorithm.fit(X=X_train, y=y_train)
        
            print("\t", estimator, ":", sep="")
            print("\t\t", "R-squared value for training set:  ", r2_score(y_train, model.predict(X_train)), sep="")
            print("\t\t", "R-squared value for testing set:  ", r2_score(y_test, model.predict(X_test)), sep="")
            print("\t\t", "MSE value for training set:  ", mean_squared_error(y_train, model.predict(X_train)), sep="")
            print("\t\t", "MSE value for testing set:  ", mean_squared_error(y_test, model.predict(X_test)), sep="")
            print("\n")
        print("\t========================================")

In [79]:
#Feature selection using K-Best Selection: want to retain the best 12 features
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

def apply_algorithms_selected() :
    for ethnicity, train_test_sets in ethnic_ML_sets.items() :
        print("\tLooking at ", ethnicity, " target group:", sep="")
        print("\t–––––––––––––––––––––––––––––––––––––––")
        X_train, X_test, y_train, y_test = train_test_sets
        
        #feature selection
        select = SelectKBest(score_func = f_regression, k=12)
        select.fit(X_train, y_train)
        #transform sets
        X_train_selected = select.transform(X_train)
        X_test_selected = select.transform(X_test)
        
        #the selected features
        print("\tSelected features after RFE:")
        for i in range(len(inc_div_scaled_features.columns)):
            if select.get_support()[i] == True:
                print("\t", inc_div_scaled_features.columns[i])
        print("\n", end="")
        for estimator, algorithm in estimators.items() :
            model = algorithm.fit(X=X_train_selected, y=y_train)
        
            print("\t", estimator, ":", sep="")
            print("\t\t", "R-squared value for training set:  ", r2_score(y_train, model.predict(X_train_selected)), sep="")
            print("\t\t", "R-squared value for testing set:  ", r2_score(y_test, model.predict(X_test_selected)), sep="")
            print("\t\t", "MSE value for training set:  ", mean_squared_error(y_train, model.predict(X_train_selected)), sep="")
            print("\t\t", "MSE value for testing set:  ", mean_squared_error(y_test, model.predict(X_test_selected)), sep="")
            print("\n")
        print("\t========================================")

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np

def apply_algorithms(training_dict) :
    X_train, X_test, y_train, y_test = training_dict["Asian"]
    for estimator, algorithm in estimators.items() :
        model = algorithm.fit(X=X_train, y=y_train)
        
        print(estimator, ":", sep="")
        print("\t", "R-squared value for training set:  ", r2_score(y_train, model.predict(X_train)), sep="")
        print("\t", "MSE value for training set:  ", np.sqrt(mean_squared_error(y_train, model.predict(X_train))), sep="")
        print("\t", "R-squared value for testing set:  ", r2_score(y_test, model.predict(X_test)), sep="")
        print("\t", "MSE value for testing set:  ", np.sqrt(mean_squared_error(y_test, model.predict(X_test))), sep="")
        print("\n")
    print("========================================")

In [81]:
#compare running models with all features and with selected features
print("MODEL TRAINING WITH ALL FEATURES\n")
apply_algorithms()

print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n")
print("MODEL TRAINING WITH SELECTED FEATURES\n")
apply_algorithms_selected()

MODEL TRAINING WITH ALL FEATURES

	Looking at Asian target group:
	–––––––––––––––––––––––––––––––––––––––
	Lasso Regression:
		R-squared value for training set:  0.16636915131527175
		R-squared value for testing set:  0.16775699973624603
		MSE value for training set:  464049.55872406333
		MSE value for testing set:  630345.520857052


	kNN:
		R-squared value for training set:  0.6056386679713359
		R-squared value for testing set:  0.5260097906143855
		MSE value for training set:  219525.46789081887
		MSE value for testing set:  359002.845709282


	Ridge Regression:
		R-squared value for training set:  0.15592784827977813
		R-squared value for testing set:  0.15155253682380498
		MSE value for training set:  469861.82211830997
		MSE value for testing set:  642618.8720435617


	========================================
	Looking at Black target group:
	–––––––––––––––––––––––––––––––––––––––
	Lasso Regression:
		R-squared value for training set:  0.15003290753214182
		R-squared value for testing set:  0.15794854395958136
		MSE value for training set:  1538881.202647999
		MSE value for testing set:  1951279.4728769914


	kNN:
		R-squared value for training set:  0.5950441365778449
		R-squared value for testing set:  0.33629358221432204
		MSE value for training set:  733180.1097299665
		MSE value for testing set:  1538001.8640805604


	Ridge Regression:
		R-squared value for training set:  0.14675148224024448
		R-squared value for testing set:  0.14691742894290782
		MSE value for training set:  1544822.284066731
		MSE value for testing set:  1976841.7923060157


	========================================
	Looking at Hispanic target group:
	–––––––––––––––––––––––––––––––––––––––
	Lasso Regression:
		R-squared value for training set:  0.13667764876349076
		R-squared value for testing set:  0.14479930877999703
		MSE value for training set:  3781767.768515949
		MSE value for testing set:  3855304.5994551335


	kNN:
		R-squared value for training set:  0.5914396848430425
		R-squared value for testing set:  0.33326908728710236
		MSE value for training set:  1789690.9875463436
		MSE value for testing set:  3005669.640788091


	Ridge Regression:
		R-squared value for training set:  0.1279058986635403
		R-squared value for testing set:  0.13042548288122524
		MSE value for training set:  3820192.259384229
		MSE value for testing set:  3920102.813100457


	========================================
	Looking at Native American/Alaskan target group:
	–––––––––––––––––––––––––––––––––––––––
	Lasso Regression:
		R-squared value for training set:  0.0810197193989709
		R-squared value for testing set:  0.08316569286503528
		MSE value for training set:  16196.557077743882
		MSE value for testing set:  12186.151005207465


	kNN:
		R-squared value for training set:  0.6074575852850084
		R-squared value for testing set:  0.5215294893288429
		MSE value for training set:  6918.3591417311345
		MSE value for testing set:  6359.615744308231


	Ridge Regression:
		R-squared value for training set:  0.08074392232546201
		R-squared value for testing set:  0.08239500238120234
		MSE value for training set:  16201.417860001407
		MSE value for testing set:  12196.39467796401


	========================================
	Looking at White target group:
	–––––––––––––––––––––––––––––––––––––––
	Lasso Regression:
		R-squared value for training set:  0.3447781682596429
		R-squared value for testing set:  0.3219844926844426
		MSE value for training set:  11964911.679419817
		MSE value for testing set:  14600041.28082258


	kNN:
		R-squared value for training set:  0.6817864960386573
		R-squared value for testing set:  0.5308996641288016
		MSE value for training set:  5810851.051747191
		MSE value for testing set:  10101368.17619965


	Ridge Regression:
		R-squared value for training set:  0.3387207305302159
		R-squared value for testing set:  0.3170707429764509
		MSE value for training set:  12075525.679023085
		MSE value for testing set:  14705851.469241943


	========================================
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

MODEL TRAINING WITH SELECTED FEATURES

	Looking at Asian target group:
	–––––––––––––––––––––––––––––––––––––––
	Selected features after RFE:
	 private
	 public
	 net_cost_0_to_30
	 net_cost_30_to_48
	 net_cost_over_110
	 state_code
	 off_campus
	 on_campus
	 room_and_board
	 out_of_state_tuition
	 out_of_state_total
	 total_price

	Lasso Regression:
		R-squared value for training set:  0.10985110620496685
		R-squared value for testing set:  0.1005057652133855
		MSE value for training set:  495510.93510518444
		MSE value for testing set:  681281.9834529015


	kNN:
		R-squared value for training set:  0.7098826634079524
		R-squared value for testing set:  0.6461936685391718
		MSE value for training set:  161496.92904977375
		MSE value for testing set:  267974.90182136605


	Ridge Regression:
		R-squared value for training set:  0.10932246799699785
		R-squared value for testing set:  0.09956264515866065
		MSE value for training set:  495805.20723717153
		MSE value for testing set:  681996.3078773038


	========================================
	Looking at Black target group:
	–––––––––––––––––––––––––––––––––––––––
	Selected features after RFE:
	 private
	 public
	 net_cost_0_to_30
	 net_cost_30_to_48
	 net_cost_48_to_75
	 net_cost_75_to_110
	 net_cost_over_110
	 in_state_tuition
	 in_state_total
	 out_of_state_tuition
	 out_of_state_total
	 total_price

	Lasso Regression:
		R-squared value for training set:  0.12516903569678184
		R-squared value for testing set:  0.13267840905400707
		MSE value for training set:  1583897.7042650087
		MSE value for testing set:  2009837.7654425618


	kNN:
		R-squared value for training set:  0.7516123325726499
		R-squared value for testing set:  0.5087980658769804
		MSE value for training set:  449710.4838067435
		MSE value for testing set:  1138258.5282837127


	Ridge Regression:
		R-squared value for training set:  0.11760136229454332
		R-squared value for testing set:  0.11324292434153027
		MSE value for training set:  1597599.1174722787
		MSE value for testing set:  2054875.4672276773


	========================================
	Looking at Hispanic target group:
	–––––––––––––––––––––––––––––––––––––––
	Selected features after RFE:
	 private
	 public
	 net_cost_0_to_30
	 net_cost_30_to_48
	 net_cost_48_to_75
	 net_cost_75_to_110
	 two_year
	 four_year
	 room_and_board
	 in_state_tuition
	 in_state_total
	 total_price

	Lasso Regression:
		R-squared value for training set:  0.10656552584470846
		R-squared value for testing set:  0.1083519892278898
		MSE value for training set:  3913673.3721792144
		MSE value for testing set:  4019611.668134644


	kNN:
		R-squared value for training set:  0.6788976656018506
		R-squared value for testing set:  0.46034668989639427
		MSE value for training set:  1406582.9025310173
		MSE value for testing set:  2432794.9099124344


	Ridge Regression:
		R-squared value for training set:  0.10129603229042261
		R-squared value for testing set:  0.101177468136462
		MSE value for training set:  3936756.2923091734
		MSE value for testing set:  4051954.91159392


	========================================
	Looking at Native American/Alaskan target group:
	–––––––––––––––––––––––––––––––––––––––
	Selected features after RFE:
	 private
	 public
	 net_cost_0_to_30
	 net_cost_30_to_48
	 net_cost_48_to_75
	 net_cost_75_to_110
	 net_cost_over_110
	 in_state_tuition
	 in_state_total
	 out_of_state_tuition
	 out_of_state_total
	 total_price

	Lasso Regression:
		R-squared value for training set:  0.056933368877471136
		R-squared value for testing set:  0.05831695285264793
		MSE value for training set:  16621.066677406754
		MSE value for testing set:  12516.429328917178


	kNN:
		R-squared value for training set:  0.6985269089791986
		R-squared value for testing set:  0.5465185443146068
		MSE value for training set:  5313.308924244636
		MSE value for testing set:  6027.472416812609


	Ridge Regression:
		R-squared value for training set:  0.056625594203155716
		R-squared value for testing set:  0.05837491342881118
		MSE value for training set:  16626.491048511183
		MSE value for testing set:  12515.658942896522


	========================================
	Looking at White target group:
	–––––––––––––––––––––––––––––––––––––––
	Selected features after RFE:
	 private
	 public
	 net_cost_0_to_30
	 net_cost_30_to_48
	 net_cost_48_to_75
	 net_cost_75_to_110
	 state_code
	 on_campus
	 room_and_board
	 in_state_tuition
	 in_state_total
	 total_price

	Lasso Regression:
		R-squared value for training set:  0.2271147244139059
		R-squared value for testing set:  0.21006979165617345
		MSE value for training set:  14113546.913034094
		MSE value for testing set:  17009955.563480984


	kNN:
		R-squared value for training set:  0.7871024155467669

		R-squared value for testing set:  0.6720624937754351
		MSE value for training set:  3887692.185070792
		MSE value for testing set:  7061639.55949212


	Ridge Regression:
		R-squared value for training set:  0.22634929443688667
		R-squared value for testing set:  0.20934851279500943
		MSE value for training set:  14127524.31981172
		MSE value for testing set:  17025487.215831645


	========================================

In [97]:
#Tuning parameters
param_grid_ridge = {"alpha" : [0.001, 0.01, 0.1, 1, 10, 100], 
              "solver" : ["auto", "svd", "cholesky", "lsqr", "sparse_cg", "sag", "saga"]}
param_grid_lasso = {"alpha" : [0.001, 0.01, 0.1, 1, 10, 100]}
param_grid_kNN = {"metric" : ["euclidean", "manhattan", "minkowski"], "n_neighbors" : [1, 3, 5, 7, 11]}

In [89]:
#GridSearch for Ridge Method
#import GridSearchCV and fit GridSearchCV
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV


def hypertune_ridge() :
    grid_search = GridSearchCV(Ridge(), param_grid_ridge, cv=5)
    
    for ethnicity, train_test_sets in ethnic_ML_sets.items() :
        print("\tLooking at ", ethnicity, " target group:", sep="")
        print("\t–––––––––––––––––––––––––––––––––––––––")
        X_train, X_test, y_train, y_test = train_test_sets
        
        #feature selection
        select = SelectKBest(score_func = f_regression, k=12)
        select.fit(X_train, y_train)
        #transform sets
        X_train_selected = select.transform(X_train)
        X_test_selected = select.transform(X_test)
        
        grid_search.fit(X=X_train_selected, y=y_train)
        
        print("\t\tBest parameters: ", grid_search.best_params_)
        print("\t\tBest cross-validation score: ", grid_search.best_score_)
        print("\t\tTest set score: ", grid_search.score(X_test_selected, y_test))

In [96]:
#GridSearch for Lasso Method
#import GridSearchCV and fit GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

def hypertune_lasso() :
    grid_search = GridSearchCV(Lasso(tol=0.1), param_grid_lasso, cv=5)
    
    for ethnicity, train_test_sets in ethnic_ML_sets.items() :
        print("\tLooking at ", ethnicity, " target group:", sep="")
        print("\t–––––––––––––––––––––––––––––––––––––––")
        X_train, X_test, y_train, y_test = train_test_sets
        
        #feature selection
        select = SelectKBest(score_func = f_regression, k=12)
        select.fit(X_train, y_train)
        #transform sets
        X_train_selected = select.transform(X_train)
        X_test_selected = select.transform(X_test)
        
        grid_search.fit(X=X_train_selected, y=y_train)
        
        print("\t\tBest parameters: ", grid_search.best_params_)
        print("\t\tBest cross-validation score: ", grid_search.best_score_)
        print("\t\tTest set score: ", grid_search.score(X_test_selected, y_test))

In [99]:
#GridSearch for kNN Method
#import GridSearchCV and fit GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV

def hypertune_kNN() :
    grid_search = GridSearchCV(KNeighborsRegressor(), param_grid_kNN, cv=5)
    
    for ethnicity, train_test_sets in ethnic_ML_sets.items() :
        print("\tLooking at ", ethnicity, " target group:", sep="")
        print("\t–––––––––––––––––––––––––––––––––––––––")
        X_train, X_test, y_train, y_test = train_test_sets
        
        #feature selection
        select = SelectKBest(score_func = f_regression, k=12)
        select.fit(X_train, y_train)
        #transform sets
        X_train_selected = select.transform(X_train)
        X_test_selected = select.transform(X_test)
        
        grid_search.fit(X=X_train_selected, y=y_train)
        
        print("\t\tBest parameters: ", grid_search.best_params_)
        print("\t\tBest cross-validation score: ", grid_search.best_score_)
        print("\t\tTest set score: ", grid_search.score(X_test_selected, y_test))

In [101]:
print("MACHINE LEARNING MODELS AFTER HYPERPARAMETER TUNING\n")

print("Ridge Regression with Tuning:\n")
hypertune_ridge()
print("\n", end="")
print("=========================================")
print("Lasso Regression with Tuning:\n")
hypertune_lasso()
print("\n", end="")
print("=========================================")
print("kNN Regression with Tuning:\n")
hypertune_kNN()
print("\n", end="")

MACHINE LEARNING MODELS AFTER HYPERPARAMETER TUNING

Ridge Regression with Tuning:

	Looking at Asian target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'alpha': 10, 'solver': 'sparse_cg'}
		Best cross-validation score:  0.10428362420490878
		Test set score:  0.1002891790341407
	Looking at Black target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'alpha': 10, 'solver': 'sag'}
		Best cross-validation score:  0.11995639083790126
		Test set score:  0.12863330609010937
	Looking at Hispanic target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'alpha': 10, 'solver': 'lsqr'}
		Best cross-validation score:  0.1011272818909669
		Test set score:  0.10739885005225847
	Looking at Native American/Alaskan target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'alpha': 100, 'solver': 'lsqr'}
		Best cross-validation score:  0.05318753378995207
		Test set score:  0.05806782662531762
	Looking at White target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'alpha': 10, 'solver': 'lsqr'}
		Best cross-validation score:  0.22425284449143917
		Test set score:  0.2102964448418131

=========================================
Lasso Regression with Tuning:

	Looking at Asian target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.7768991450930915
		Test set score:  0.921885422076625
	Looking at Black target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8235811999387732
		Test set score:  0.7576514059296188
	Looking at Hispanic target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'euclidean', 'n_neighbors': 1}
		Best cross-validation score:  0.7491750475778699
		Test set score:  0.7254053734600852
	Looking at Native American/Alaskan target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8614023291869053
		Test set score:  0.7675275690183629
	Looking at White target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8558072254625146
		Test set score:  0.9127961267991558

=========================================
kNN Regression with Tuning:

	Looking at Asian target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.7768991450930915
		Test set score:  0.921885422076625
	Looking at Black target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8235811999387732
		Test set score:  0.7576514059296188
	Looking at Hispanic target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'euclidean', 'n_neighbors': 1}
		Best cross-validation score:  0.7491750475778699
		Test set score:  0.7254053734600852
	Looking at Native American/Alaskan target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8614023291869053
		Test set score:  0.7675275690183629
	Looking at White target group:
	–––––––––––––––––––––––––––––––––––––––
		Best parameters:  {'metric': 'manhattan', 'n_neighbors': 1}
		Best cross-validation score:  0.8558072254625146
		Test set score:  0.9127961267991558